.pictures {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body {
	background: linear-gradient(#25354a, #25252a);
	background-attachment: fixed;
	min-width: 75%;
}

.img-container {
	margin-bottom: 15px;
	display: inline-block;
	overflow: hidden;
}

.heading {
	text-align: center;
}

.heading > h1 {
	text-decoration: underline;
	text-decoration-color: gold;
	text-decoration-thickness: 4px;
}

.pictures > div {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.85);
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
}

.img-big {
	border: 1px solid #eeec;
}

.img-big,
.img-preview {
	display: block;
	transition: transform 0.5s;
}

.border-hover {
	padding: 0;
	border: 1px solid #eeec;
}
.border-hover:hover {
	border: 1px solid gold;
}

.img-big:hover,
.img-preview:hover {
	transform: scale(1.05);
}

.return-home {
	font-size: x-large;
}

.preview-img-layout {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.preview-img-img-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 60px;
}

.preview-desc-layout {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 40%;
}

.preview-link-layout-left,
.preview-link-layout-right {
	display: flex;
	align-items: center;
}

@media (max-width: 700px) {
	.preview-img-layout {
		flex-direction: column;
		align-items: center;
	}

	.preview-link-layout-right {
		flex-direction: column;
	}
	.preview-link-layout-left {
		flex-direction: column-reverse;
	}

	.preview-img-img-layout {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.preview-desc-layout {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.return-home {
		position: absolute;
	}
}

.picture-title {
	font-weight: 900;
	font-size: xx-large;
}

.not-available {
	height: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.clipboard-button {
	padding: 3px;
	background-color: rgba(0, 0, 0, 0);
	margin-right: 10px;
	height: 1.5em;
	margin-top: 3px;
}

.clipboard-button-hover:hover {
	background-color: #ffd700bb;
}
.clipboard-button-clicked:hover {
	background-color: #ffd70011;
}

/* importing fonts */
@font-face {
	font-family: "Liberation Sans";
	src: url("/assets/fonts/LiberationSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Sans";
	src: url("/assets/fonts/LiberationSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Sans";
	src: url("/assets/fonts/LiberationSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Liberation Sans";
	src: url("/assets/fonts/LiberationSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
body {
	font-family: "Liberation Sans";
}

label > span {
	color: gold;
}

.input-desc {
	font-size: smaller;
	color: #ffffff77;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* details animation */
details[open] summary ~ * {
	animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px;
	}
	100% {
		opacity: 1;
		margin-left: 15px;
	}
}

details > span > span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #00000077;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 15px;
}

details {
	border-radius: 10px;
}

details > span {
	margin-left: 15px;
	margin-right: 15px;
}

.cancel {
	color: red;
	background-color: #ff000000;
}
.cancel:hover {
	color: red;
	background-color: #ff000033;
}
